[submodule "server"]
	path = server
	url = https://github.com/longguikeji/arkfbp-py-server-template.git
[submodule "admin"]
	path = admin
	url = https://github.com/longguikeji/arkfbp-admin-template.git
[submodule "client"]
	path = client
	url = https://github.com/longguikeji/ark-desktop.git
